.button {
  background-color: grey;
  border: 1px solid grey;
  border-radius: 100px;
  width: 50px;
  height: 25px;
  transition: background-color 0.1 ease, border-color 0.2s ease;
  cursor: pointer;
  position: relative;
  margin-left: 425px;
}

.button .box {
  height: 20px;
  width: 20px;
  background-color: white;
  border-radius: 100px;
  transition: left 0.15s ease;
  position: absolute;
  left: 3px;
  top: 50%;
  transform: translateY(-50%);
}

.button.toggled {
  background-color: green;
}

.button:hover {
  border-color: #f6f6f6;
}

.button.toggled .box {
  left: calc(50px - 24px);
}

span {
  margin-left: 5px;
}
